*{
	box-sizing:border-box;
	font-family:'Mingzat' sans-serif;
}

.container_12{
	background-color:#F0F1EC ;
	margin-top:30px;
}
.banner{
	text-align:center;
	font-size:60px;
	font-weight:bold;
	color:#AD1AC0;
	margin-top:30px;
}
.cover{
	margin-top:10px;
}

.menu{
	height:30px;
	margin-top:10px;
	/*border-style:solid;*/
	text-align:center;
	font-size:23px;
	background-color:#AD1AC0;
	
}
.menu a{
	
	font-weight:bold;
	text-decoration:none;
	color:white;
	display:block;
	
	
}
.section{
	height:40px;
	border-style:solid;
	margin-top:10px;
	background-color:#AD1AC0;
	font-weight:bold;
	text-align:center;
	color:white;
	font-size:22px;
}

.eproduct{
	/*border-style:solid;*/
	margin-top:10px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
}
.eproduct p{
	display:inline;
	margin-top:10px;
	color:#CF1C31;
}
.button{
	background-color:#29C424 ;
     border:0px;
font-size:20px;
margin-top:10px;	 
}

.products{
	height:40px;
	border-style:solid;
	margin-top:20px;
	background-color:#AD1AC0;
	font-weight:bold;
	text-align:center;
	color:white;
	font-size:22px;
}
.contact{
	margin-top:20px;
	height:300px;
}

.footer{
	height:200px;
	border-style:solid;
	margin-top:10px;
	background-color:#AD1AC0;
	font-weight:bold;
	text-align:center;
	color:white;
	font-size:22px;
}
